<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSud_CSlA5DirhAMPOLpNg5GysW51uyTo</string>
	<key>GCM_SENDER_ID</key>
	<string>17829340876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-shoppers</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-shoppers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17829340876:ios:48b5dfcbbbb50530f88469</string>
</dict>
</plist>